.new-post-page {
    height: calc(100% - 61px);
    left: 270px;
    right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    position: fixed;
    background-color: #ffffff;
    overflow: auto;
}

.label-info {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 6px;
}

.red-text {
    color: red;
    font-weight: bold;
    font-size: 16px;
    padding: 4px;
}

.post-name .create-link-flair .post-creator {
    width: 100%;
    padding: 7px;
}

.new-post-content {
    width: 70%;
    height: 150px;
}

.engender-post-button {
    margin: 10px;
    border: none;
    padding: 16px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.engender-post-button:hover {
    text-decoration: underline;
}